<p>
  <strong>タイトル:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>ジャンル:</strong>
  <%= @movie.genre.name %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @movie.category == 'new' ? '新着映画' : '人気映画' %>
</p>

<p>
  <strong>説明:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>公開日:</strong>
  <%= @movie.release_date %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong></strong><br>
  <%= image_tag @movie.image, size: "300x300" if @movie.image.attached? %>
</p>

<h3>コメント</h3>
<% @comments.each do |comment| %>
  <p><%= comment.content %> - <%= comment.user.username %></p>
  <% if comment.user == current_user %>
    <%= link_to '削除', public_movie_comment_path(@movie, comment.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <h3>新しいコメントを投稿</h3>
  <%= form_with(model: [@movie, @comment], url: public_movie_comments_path(@movie)) do |f| %>
    <div class="mb-3">
      <%= f.label :content, "コメント", class: "form-label" %>
      <%= f.text_area :content, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.submit '投稿', class: "btn btn-primary" %>
    </div>
  <% end %>
<% else %>
  <p>コメントを投稿するには<%= link_to 'ログイン', new_user_session_path %>してください。</p>
<% end %>