<div class="container mt-4">
  <!-- New Movies Section -->
  <div class="new-movies mb-5">
    <h2 class="mb-4">New Movies</h2>
    <div class="row">
      <% @new_movies.each do |movie| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <%= link_to movie_path(movie) do %>
              <%= image_tag movie.image.variant(resize_to_fit: [150, 150]), class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to movie.title, movie_path(movie) %></h5>
              <p class="card-text">ジャンル: <%= movie.genre.name %></p>
              <p class="card-text">公開日: <%= movie.release_date %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Popular Movies Section -->
  <div class="popular-movies">
    <h2 class="mb-4">Popular Movies</h2>
    <div class="row">
      <% @popular_movies.each do |movie| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <%= link_to movie_path(movie) do %>
              <%= image_tag movie.image.variant(resize_to_fit: [150, 150]), class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to movie.title, movie_path(movie) %></h5>
              <p class="card-text">ジャンル: <%= movie.genre.name %></p>
              <p class="card-text">公開日: <%= movie.release_date %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>