<!-- app/views/public/users/show.html.erb -->

<div class="user-details">
  <h1>User: <%= @user.username %></h1>
  
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  
  <p>
    <strong>Role:</strong>
    <%= @user.role %>
  </p>
  
  <div class="user-actions">
    <%= link_to 'Edit', edit_public_user_path(@user), class: 'btn btn-primary' %>
    <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
  </div>
</div>

<!-- ユーザーのコメント一覧 -->
<div class="user-comments mt-4">
  <h2>Comments by <%= @user.username %></h2>
  <ul class="list-group">
    <% @comments.each do |comment| %>
      <li class="list-group-item">
        <strong>Movie:</strong> <%= link_to comment.movie.title, movie_path(comment.movie) %><br>
        <strong>Comment:</strong> <%= comment.content %><br>
        <%= link_to 'Delete', public_movie_comment_path(comment.movie, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm mt-2' %>
      </li>
    <% end %>
  </ul>
</div>